VITE_SUPABASE_URL=https://jqzaegjkmvdybyaugdup.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nbZd51GDE_6LQnmajoRUtQ_qeY-aM1L
SUPABASE_URL=https://jqzaegjkmvdybyaugdup.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_nbZd51GDE_6LQnmajoRUtQ_qeY-aM1L
